<app-top-header title="Contactez-nous " image="assets/images/contact-bg.png"></app-top-header>

<div class="contact-page-short-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="contact-info h-100">
                    <h2 class="d-flex align-items-center">Contact Info</h2>

                    <ul class="p-0 m-0">
                        <li><span>Addtress:</span>Mitlton Str. 26-27 London UK</li>
                        <li><span>Phone:</span>+53 345 7953 32453</li>
                        <li><span>Email:</span>yourmail@gmail.com</li>
                    </ul>
                </div>
            </div>

           
        </div>
    </div>
</div>

<div class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Get in Touch</h2>
            </div>

            <div class="col-12  col-md-4">
                <input type="text" placeholder="Name">
            </div><!-- col-4 -->

            <div class="col-12 col-md-4">
                <input type="email" placeholder="E-mail">
            </div><!-- col-6 -->

            <div class="col-12 col-md-4">
                <input type="text" placeholder="Subject">
            </div>

            <div class="col-12">
                <textarea name="name" rows="12" cols="80" placeholder="Message"></textarea>
            </div>

            <div class="col-12">
                <input type="submit" name="" value="Send Message" class="button gradient-bg">
            </div>
        </div> 
    </div>
</div> 