<app-top-header title="Contactez-nous " image="assets/images/contact-bg.png"></app-top-header>

<div class="contact-page-short-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="contact-info h-100">
                    <h2 class="d-flex align-items-center">Contact Info</h2>

                    <ul class="p-0 m-0">
                        <li><span>Addtress:</span>{{info.contact_info}}</li>
                        <li><span>Phone:</span>{{info.agency_number}}</li>
                        <li><span>Email:</span>{{info.agency_email}}/li>
                    </ul>
                </div>
            </div>

           
        </div>
    </div>
</div>

<div class="contact-form">
    <div class="container">
        <div *ngIf="isSubmitted" class="thank-you-container">
            <h3>Thank you for contacting us!</h3>
            <p>We'll get back to you soon.</p>
        </div> 
        <form   *ngIf="!isSubmitted" c [formGroup]="contactForm" >

        <div class="row" >

            <div class="col-12">
                <h2>Get in Touch</h2>
            </div>

            <div class="col-12  col-md-4">
                <input type="text" formControlName="name" placeholder="Name">            </div><!-- col-4 -->

            <div class="col-12 col-md-4">
                <input type="email" formControlName="e_mail" placeholder="E-mail">            </div><!-- col-6 -->

            <div class="col-12 col-md-4">
                <input type="text" formControlName="subject" placeholder="Subject">            </div>

            <div class="col-12">
                <textarea formControlName="message" rows="12" cols="80" placeholder="Message"></textarea>            </div>

            <div class="col-12">
                <input (click)="onSubmit()" type="submit" name="" value="Send Message" class="button gradient-bg">
            </div>
        </div> 
    </form>

    </div>
</div> 