<div class="milestones">
    <div class="row flex flex-wrap justify-content-between">
        <div class="col-12 col-sm-6 col-lg-3 mt-5 mt-lg-0">
            <div class="counter-box">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/blood-donation.png" alt="">
                </div>

                <div class="d-flex justify-content-center align-items-baseline">
                    <div class="start-counter" data-to="5632" data-speed="2000">30</div>
                </div>

                <h3 class="entry-title">Blood donations</h3><!-- entry-title -->
            </div><!-- counter-box -->
        </div><!-- .col -->

        <div class="col-12 col-sm-6 col-lg-3 mt-5 mt-lg-0">
            <div class="counter-box">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/pacients.png" alt="">
                </div>

                <div class="d-flex justify-content-center align-items-baseline">
                    <div class="start-counter" data-to="23" data-speed="2000"></div>
                    <div class="counter-k" style="margin-top: 15px;" >60</div>
                </div>

                <h3 class="entry-title">Pacients</h3><!-- entry-title -->
            </div><!-- counter-box -->
        </div><!-- .col -->

        <div class="col-12 col-sm-6 col-lg-3 mt-5 mt-lg-0">
            <div class="counter-box">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/specialities.png" alt="">
                </div>

                <div class="d-flex justify-content-center align-items-baseline">
                    <div class="start-counter" data-to="25" data-speed="2000">50</div>
                </div>

                <h3 class="entry-title">Specialities</h3><!-- entry-title -->
            </div><!-- counter-box -->
        </div><!-- .col -->

        <div class="col-12 col-sm-6 col-lg-3 mt-5 mt-lg-0">
            <div class="counter-box">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/doctors.png" alt="">
                </div>

                <div class="d-flex justify-content-center align-items-baseline">
                    <div class="start-counter" data-to="723" data-speed="2000">20</div>
                </div>

                <h3 class="entry-title">Doctors</h3><!-- entry-title -->
            </div><!-- counter-box -->
        </div><!-- .col -->
    </div>
</div>
 
 
