 <header class="site-header">
  <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
              <br>
                <div class="breadcrumbs">
                    <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#">Accueil</a></li>
                        <li>{{title}}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <img class="header-img" [src]="image" alt="">
</header> 
 