
     <app-top-header title="Services " image="assets/images/service-bg.png"></app-top-header>

    <div class="quality-services">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Only Top Quality Services</h2>

                    <div class="row" *ngIf="topqualities">
                        <div class="col-12 col-md-6">
                            <p>{{topqualities.Qualityone}}</p>
                        </div>

                        <div class="col-12 col-md-6">
                            <p>{{topqualities.Qualitytwo}}</p>
                        </div>
                    </div>

                    <div class="w-100 text-center mt-5">
                     </div>
                </div>
            </div>
        </div>
    </div>
    <app-interventions></app-interventions>
    <app-milestones></app-milestones>
  <app-tabs></app-tabs>
    <app-newsletter></app-newsletter>