<app-top-header title="À propos " image="assets/images/about-bg.png"></app-top-header>
<div class="med-history">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-lg-6" *ngIf="history">
                <h2>{{history.history_title}}</h2>
                <p>{{history.history_description}} </p>
            </div>

            <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                <img class="responsive" src="{{history?.history_picture.path}}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="faq-stuff">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Faq & Stuff</h2>
            </div>

            <!-- Left Side: List of Questions -->
            <div class="col-12 col-lg-6">
                <div *ngFor="let faq of faqs" class="accordion-wrap type-accordion">
                    <h3 class="entry-title d-flex justify-content-between align-items-center"
                        [ngClass]="{'active': activeFaq === faq.id}" (click)="toggleFaq(faq.id)">
                        {{faq.question}} <span class="arrow-r"></span>
                    </h3>
                </div>
            </div>

             <div class="col-12 col-lg-6" *ngIf="activeFaq">
                <div class="row">
                    <!-- Professional Section -->
                    <div class="col-12 col-md-6">
                        <div class="professional-box">
                            <h2 class="d-flex align-items-center">{{getFaqById(activeFaq)?.answer_title}}</h2>
                            <img src="assets/images/cardiogram-2.png" alt="">
                            <p>{{ getFaqById(activeFaq)?.answer_one_desc }}</p>
                        </div>
                    </div>

                    <!-- Quality Section -->
                    <div class="col-12 col-md-6">
                        <div class="quality-box">
                            <h2 class="d-flex align-items-center">{{getFaqById(activeFaq)?.answer_title_two}}</h2>
                            <img src="assets/images/hospital.png" alt="">
                            <p>{{ getFaqById(activeFaq)?.answer_two_desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="medical-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>The Medical Team</h2>
            </div>

            <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of doctors"> 
                <div class="medical-team-wrap" *ngIf="item.avatar && item.avatar.path ">
                    <img src="{{item.avatar.path}}" alt="">

                    <h4>{{item.firstName}} {{item.lastName}}</h4>
                    <h5>PHD Surgeon</h5>
                </div>
            </div>
 
        </div>
    </div>
</div>

<app-newsletter></app-newsletter>