<div *ngIf="slider" class="swiper-container hero-slider">
	<div class="slideshow">
	  <header class="header">
		<div class="text-box">
		  <h1 class="heading-primary">
			<span class="heading-primary-main">{{slider.title}}</span>
			<span class="heading-primary-sub">{{slider.description}}</span>
		  </h1>
		  <a href="#" class="btn btn-white btn-animated">ESPACE CLIENT </a>
		</div>
		<div class="header-image-container">
		  <img src="https://www.ivoire.campusfrance.org/sites/pays/files/ivoire/styles/mobile_visuel_principal_page/public/MDECIN%20AFRICAINE_0.jpg?itok=2503cGmZ" alt="Background Image" class="header-image">
		</div>
	  </header>
	</div>
  </div>
  