
<app-top-header title="Blog " image="assets/images/news-bg.png"></app-top-header>


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="the-news">
                <div class="row">
                    <div class="col-12 col-md-6" *ngFor="let item of articles">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a *ngIf="item.image" ><img  width="656px" src="{{item.image.path}}" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 style="color:  #18a3eb ; font-size: large;">{{item.title}}</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date" style="padding: 15px 0px; font-weight:bold ;"><a >{{item.sub_title}}</a></div>

 
                                 </div>
                            </header>

                            <div class="entry-content">
                                <p>{{item.desciption}}</p>
                            </div>

                         
                        </div>
                    </div>

                     
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="sidebar">
                

         
            </div>
        </div>
    </div>
</div>
<app-newsletter></app-newsletter>
