 
* {
	box-sizing: border-box;
}

 
.dashboard {
	display: grid;
	width: 100%;
	height: 100%;
	grid-gap: 0;
	grid-template-columns: 300px auto;
	grid-template-rows: 80px auto;
	grid-template-areas:
	  'menu search'
	  'menu content';
  }
.search-wrap {
	grid-area: search;
	background:  #fff;
	border-bottom: 1px solid #18a3eb ;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3em;
	
	.search {
		height: 40px;
		
		label {
			display: flex;
			align-items: center;
			height: 100%;
			
			svg {
				display: block;
				
				path,
				circle {
					fill: lighten(#99a0b0, 10%);
					transition: fill .15s ease;
				}
			}
			
			input {
				display: block;
				padding-left: 1em;
				height: 100%;
				margin: 0;
				border: 0;
				
				&:focus {
					background:#18a3ebfa;
				}
			}
			
			&:hover {
				svg {
					path,
					circle {
						fill: lighten(#99a0b0, 10%);
					}
				}
			}
		}
	}
	
	.user-actions {
		button {
			border: 0;
			background: none;
			width: 32px;
			height: 32px;
			margin: 0;
			padding: 0;
			margin-left: 0.5em;
			
			svg {
				position: relative;
				top: 2px;
				
				path,
				circle {
					fill: lighten(#99a0b0, 10%);
					transition: fill .15s ease;
				}
			}
			
			&:hover {
				svg {
					path,
					circle {
						fill: lighten(#1b253d, 10%);
					}
				}
			}
		}
	}
}

.menu-wrap {
	grid-area: menu;
	padding-bottom: 3em;
	overflow: auto;
	background:  #fff;
	border-right: 1px solid #18a3eb
	;
	
	.user {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0;
		padding: 0 3em;
		
		.user-avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		
		figcaption {
			margin: 0;
			padding: 0 0 0 1em;
			color:#1b253d;
			font-weight: 700;
			font-size: 0.875em;
			line-height: 100%;
		}
	}
	
	nav {
		display: block;
		padding: 0 3em;
		
		section {
			display: block;
			padding: 3em 0 0;
		}
		
		h3 {
			margin: 0;
			font-size: .875em;
			text-transform: uppercase;
			color:#18a3eb;
			font-weight: 600;
		}
		
		ul {
			display: block;
			padding: 0;
			margin: 0;
		}
		
		li {
			display: block;
			padding: 0;
			margin: 1em 0 0;
			
			a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				color:#99a0b0;
				text-decoration: none;
				font-weight: 600;
				font-size: .875em;
				transition: color .15s ease;
				
				svg {
					display: block;
					margin-right: 1em;
					
					path,
					circle {
						fill: lighten(#99a0b0, 10%);
						transition: fill .15s ease;
					}
				}
				
				&:hover {
					color:#1b253d;
					
					svg {
						path,
						circle  {
							fill: lighten(#1b253d, 10%);
						}
					}
				}
				
				&.active {
					color:#18a3eb;
					
					svg {
						path,
						circle  {
							fill:#18a3eb;
						}
					}
				}
			}
		}
	}
}

.content-wrap {
	grid-area: content;
	padding: 3em;
	overflow: auto;
	
	.content-head	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		h1 {
			font-size: 1.375em;
			line-height: 100%;
			color:#1b253d;
			font-weight: 500;
			margin: 0;
			padding: 0;
		}
		
		.action {
			button {
				border: 0;
				background:#18a3eb;
				color:  #fff;
				width: auto;
				height: 3.5em;
				padding: 0 2.25em;
				border-radius: 3.5em;
				font-size: 1em;
				text-transform: uppercase;
				font-weight: 600;
				transition: background-color .15s ease;
				
				&:hover {
					background-color: darken(#18a3eb, 10%);
					
					&:active {
						background-color: darken(#18a3eb, 20%);
						transition: none;
					}
				}
			}
		}
	}

	.info-boxes {
		padding: 3em 0 2em;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 2em;
		
		.info-box {
			background:  #fff;
			height: 160px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0 3em;
			border: 1px solid#18a3eb
			;
			border-radius: 5px;
			
			.box-icon {
				svg {
					display: block;
					width: 48px;
					height: 48px;
					
					path,
					circle {
						fill:#99a0b0;
					}
				}
			}
			
			.box-content {			
				padding-left: 1.25em;
				white-space: nowrap;
				
				.big {
					display: block;
					font-size: 2em;
					line-height: 150%;
					color:#1b253d;
				}
			}
			
			&.active {
				svg {
					circle,
					path {
						fill:#18a3eb;
					}
				}
			}
		}
	}

	.person-boxes {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 2em;
		
		.person-box {
			background:  #fff;
			height: 320px;
			text-align: center;
			padding: 3em;
			border: 1px solid#18a3eb
			;
			border-radius: 5px;
			
			&:nth-child(2n) {
				.box-avatar {
					.no-name {
						background:#18a3eb;
					}
				}
			}
			
			&:nth-child(5n) {
				.box-avatar {
					.no-name {
						background:#ffbb09;
					}
				}
			}
			
			.box-avatar {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin: 0px auto;
				overflow: hidden;
				
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				
				.no-name {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					color:  #fff;
					font-size: 1.5em;
					font-weight: 600;
					text-transform: uppercase;
					width: 100%;
					height: 100%;
					background:#785bfa;
				}
			}
			
			.box-bio {
				white-space: no-wrap;
				
				.bio-name {
					margin: 2em 0 .75em;
					color:#1b253d;
					font-size: 1em;
					font-weight: 700;
					line-height: 100%;
				}
				
				.bio-position {
					margin: 0;
					font-size: .875em;
					line-height: 100%;
				}
			}
			
			.box-actions {
				margin-top: 1.25em;
				padding-top: 1.25em;
				width: 100%;
				border-top: 1px solid #18a3eb
				;
				display: flex;
				align-items: center;
				justify-content: space-between;
				
				button {
					border: 0;
					background: none;
					width: 32px;
					height: 32px;
					margin: 0;
					padding: 0;

					svg {
						position: relative;
						top: 2px;

						path,
						circle {
							fill: lighten(#99a0b0, 10%);
							transition: fill .15s ease;
						}
					}

					&:hover {
						svg {
							path,
							circle {
								fill: lighten(#1b253d, 10%);
							}
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 40px auto;
    grid-template-areas:
      'search'
      'menu-icon'
      'content';
  }

  .menu-wrap {
    position: fixed;
	
     left: 0;
    width: 100%;
    height: calc(100% - 120px);
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

    &.menu-open {
      transform: translateY(0);
    }
  }

  .menu-wrap nav {
    padding: 0 1.5em;
  }

  .search-wrap {
    padding: 0 1.5em;
  }

  .user-actions {
    display: none;
  }

  .menu-icon {
    grid-area: menu-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #1b253d;
    cursor: pointer;

    &:hover {
      color: #18a3eb;
    }
  }

  .user {
    display: none;
  }

  .menu-wrap li {
    margin: 0.75em 0 0;
  }

  .menu-wrap li a {
    justify-content: center;
    font-size: 1.25em;
    font-weight: 600;
  }

  .menu-wrap li a svg {
    margin-right: 0.5em;
  }
}
