.router-link-active:hover{
  width: 180px;
 }
mat-sidenav-container {
  height: 30vh;

}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 100px;
}

mat-nav-lis {
  position: fixed;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;

}

.responsive-nav-bar {
  font-weight: bolder;
  font-size: large;
  font-weight: bold;
}

.responsive-nav-bar:hover {
  background-color: #18a3eb;
  font-weight: bolder;
  font-size: large;
  font-weight: bold;
}

mat-sidenav-content {
  margin-left: 20px;
  padding: 20px;
}

.main-div {
  width: 250px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  transform: perspective(500px) rotateY(-42deg);
  -webkit-transform: perspective(500px) rotateY(-42deg);
  -moz-transform: perspective(500px) rotateY(-42deg);
  -ms-transform: perspective(500px) rotateY(-42deg);
  -o-transform: perspective(500px) rotateY(-42deg);

  animation-name: rotate-windows;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.main-div div {
  margin-top: 20px;
  background-color: #18a3eb;
  width: 47.5%;
  height: 47%;
}

a:visited {
  color: #757686;
}

a:hover,
a:focus,
a:active {
  color: #262626;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  list-style: none;
}

li a:hover,
ul li.current-menu-item a {
  color: #18a3eb;
}

.current-menu-item {
  color: #18a3eb;
}

@keyframes rotate-windows {
  0% {
    transform: perspective(500px) rotateY(-42deg);
    -webkit-transform: perspective(500px) rotateY(-42deg);
    -moz-transform: perspective(500px) rotateY(-42deg);
    -ms-transform: perspective(500px) rotateY(-42deg);
    -o-transform: perspective(500px) rotateY(-42deg);
  }

  50% {
    transform: perspective(500px) rotateY(0deg);
    -webkit-transform: perspective(500px) rotateY(0deg);
    -moz-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    -o-transform: perspective(500px) rotateY(0deg);
  }

  75% {
    transform: perspective(500px) rotateY(-42deg);
    -webkit-transform: perspective(500px) rotateY(-42deg);
    -moz-transform: perspective(500px) rotateY(-42deg);
    -ms-transform: perspective(500px) rotateY(-42deg);
    -o-transform: perspective(500px) rotateY(-42deg);
  }

  100% {
    transform: perspective(500px) rotateY(+20deg);
    -webkit-transform: perspective(500px) rotateY(+42deg);
    -moz-transform: perspective(500px) rotateY(+42deg);
    -ms-transform: perspective(500px) rotateY(+42deg);
    -o-transform: perspective(500px) rotateY(+42deg);
  }
}



a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}



a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  float: none;
  margin: auto;
  display: flex;
  justify-content: space-between;


}

li {
  float: left;
  padding: 10px;
  font-size: 15px;
}

i {
  width: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}

a {
  color: #444
}

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 160px;
}

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  width: 100%;
  z-index: 999;
}

.left-item ul li {
  float: left;
  color: #FFF;
  padding: 10px;
}

.header-top {
  background-color: #18a3eb;
  height: 40px;
}


header .header-top .left-item ul li i {
  color: #FFF;
}

header .header-top .right-item ul {
  float: right;
}

header .header-top .right-item ul li {
  float: left;
  color: #FFF;
  padding: 10px;
}

header .header-nav {
  background-color: rgba(255, 255, 255, 0.77);
  width: 100%;
}

header .header-nav .nav-item ul li {
  float: left;
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 28px;
}

@media screen and (max-width: 998px) {
  header .header-nav .nav-item ul li {
    padding: 30px 18px;
  }
}

@media screen and (max-width: 767px) {
  header .header-nav .nav-item ul li {
    float: none;
    padding: 14px;
    border-top: 1px solid #CCC;
  }
}

header .header-nav .nav-img img {
  width: 200px;
  padding: 0px;
  margin-top: 2px;
}

@media screen and (max-width: 767px) {
  header .header-nav .nav-img img {
    margin-top: 0px;
    padding: 10px;
  }
}

header .header-nav .appoint {
  padding-top: 21px;
}

header .scroll-to-fixed-fixed {
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.small-menu {
  float: right;
  color: #18a3eb;
  font-size: 32px;
  margin-top: 17px;
  margin-right: 12px;
}

@media screen and (max-width: 767px) {
  .header-top {
    display: none;
  }

  .small-menu {
    margin-top: 11px;
  }
}
 
mat-sidenav-container {
  opacity: 0.8;
   font-style: oblique;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   width: 100%;
   color: #444;
   font-weight: bolder;
}
.link{
  text-decoration: none;
  font-size: 39px;
  cursor: pointer;;
}
.link :hover {
 color:  #18a3eb;   
}
.link--active{
  font-weight: bolder  !important;
  color:  #18a3eb !important;
}